
.header{
    background-color: rgb(243, 4, 136);
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

html{
    background-color: rgb(136, 192, 185);
}

h1 {
    color:mediumspringgreen
}

p {
    border:solid;
    color:rgb(54, 110, 128);
    background-color: rgb(238, 112, 98);
}

